# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/
ios/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Arquivos de ambiente
.env
.env.local
functions/env.json
functions/.runtimeconfig.json

# Logs e caches
*.log
.firebase/

# acconts.json
functions/service-account.json

# Arquivos de configuração do Firebase
google-services.json
GoogleService-Info.plist


